
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="page-section cta">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="cta-inner text-center rounded">
                    <h2 class="section-heading mb-5">
                        <span class="section-heading-lower">İletişim</span>
                    </h2>
                    <p class="mb-5">
                        <em>
                            1987 yılında Hernandez kardeşler tarafından kurulan kuruluşumuz, Güney ve Orta Amerika'nın çeşitli bölgelerindeki esnaf çiftçilerinden elde edilen zengin kahvelere hizmet vermektedir. Dünyayı dolaşmaya, en iyi kahveyi bulmaya ve kafemizde size geri dönmeye adadık.
                        </em>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

